---
title: AEM Cloud Manager 테스트 결과 분석
description: AEM Cloud Manager의 보고서 결과 탐색 및 수정
role: Developer
level: Beginner
type: Tutorial
topic: Development
feature: Developer Tools
jira: KT-6917
thumbnail: 330540.jpg
exl-id: 2ddd241a-0e8a-4397-8006-6f807be4fb12
duration: 346
source-git-commit: 0400242f6a99bc5209a8b483469d5fd88eac077e
workflow-type: tm+mt
source-wordcount: '72'
ht-degree: 45%

---

# 테스트 결과 분석 {#analyze-test-results}

>[!CONTEXTUALHELP]
>id="aemcloud_devops_testresult"
>title="테스트 결과 분석"
>abstract="코드에 있는 컴파일 오류와 이 코드가 AEM as a Cloud Service의 모범 사례를 준수하는지 여부를 살펴봅니다."
>additional-url="https://experienceleague.adobe.com/docs/experience-manager-cloud-manager/using/how-to-use/understand-your-test-results.html?lang=ko-KR#how-to-use" text="테스트 결과 이해"

코드에 있는 컴파일 오류와 이 코드가 AEM as a Cloud Service에 대한 모범 사례를 따르는지 여부를 살펴봅니다.

>[!VIDEO](https://video.tv.adobe.com/v/330540?quality=12&learn=on)
