---
title: 'AEM Cloud Manager 테스트 결과 분석 '
description: AEM Cloud Manager에서 보고서 결과 탐색 및 수정
role: Developer
level: Beginner
type: Tutorial
topic: 개발
feature: 개발자 도구
kt: 6917
thumbnail: 330540.jpg
source-git-commit: e295d77a11c99310aaae10ecb8a2eaa20ad49285
workflow-type: tm+mt
source-wordcount: '84'
ht-degree: 8%

---


# 테스트 결과 분석

>[!CONTEXTUALHELP]
>id="aemcloud_devops_testresult"
>title="테스트 결과 분석"
>abstract="코드에서 모든 컴파일 오류를 표시하고 이 코드가 AEM as a Cloud Service에 대한 우수 사례를 따르는지 여부를 확인합니다"
>additional-url="https://experienceleague.adobe.com/docs/experience-manager-cloud-manager/using/how-to-use/understand-your-test-results.html?lang=en#how-to-use" text="테스트 결과 이해"

코드에서 모든 컴파일 오류를 살펴보고 이 코드가 AEM as a Cloud Service에 대한 우수 사례를 따르는지 여부를 확인하십시오

>[!VIDEO](https://video.tv.adobe.com/v/330540/?quality=12&learn=on)
