---
title: 'AEM Cloud Manager 테스트 결과 분석 '
description: AEM Cloud Manager에서 보고서 결과 탐색 및 수정
role: Developer
level: Beginner
type: Tutorial
topic: Development
feature: Developer Tools
kt: 6917
thumbnail: 330540.jpg
translation-type: tm+mt
source-git-commit: 5ac82928d4b0bf75b348a414793c24c3aca92f36
workflow-type: tm+mt
source-wordcount: '42'
ht-degree: 0%

---


# 테스트 결과 분석

코드에 있는 모든 컴파일 오류를 살펴보고 이 코드가 Cloud Service의 모범 사례를 따르는지 여부를 확인하십시오

>[!VIDEO](https://video.tv.adobe.com/v/330540/?quality=12&learn=on)